.form {
    display: flex;
    flex-direction: column;
    > * {
        margin-bottom: $m-size;
    }
}

.form__error {
    margin: 0 0 $m-size 0;
    font-style: italic;
}

.form__login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 350px 350px 0 350px;
}